GAME_BASE_URL=https://op.responsive.net/SupplyChain
GAME_INSTITUTION=nanyang
GAME_TEAM_ID=your_team_id
GAME_PASSWORD=your_password
SC_TEAM_ID=your_team_id
SC_PASSWORD=your_password
SC_INSTITUTION=nanyang
PERIOD_DAYS=3
SC_PERIOD_DAYS=3
SC_POLL_SECONDS=900
GIT_PUSH=0
GIT_REMOTE=origin
GIT_BRANCH=main
